.blog__layout {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.blog__left {
    margin-top: 100px;
    width: 68%;
}
.blog__left .title {
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0;
}
.blog__left .author {
    padding-right: 10px;
}
.blog__left .modify {
    padding-left: 10px;
    float: right;
}
.blog__left .delete {
    float: right;
}
.blog__left .delete a,
.blog__left .modify a {
    color: #666;
    font-size: 0.9em;
}
.blog__left .desc {
    line-height: 1.8;
    padding-top: 20px;
}
.blog__left .desc p {
    padding-top: 20px;
}
.blog__right {
    margin-top: 100px;
    width: 30%;
}
